.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }

      .site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }

  .bg-image > .container {
    position: relative;
    z-index: 1; }

.testimony p {
  color: #fff;
  font-size: 2rem; }

.testimony .black {
  font-size: 1.2rem;
  font-style: italic;
  color: #fff; }

  .site-section {
  padding: 4em 0;
  position: relative; }
  @media (max-width: 991.98px) {
    .site-section {
      padding: 4em 0; } }